# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
tmp.json

# testing
/coverage

# production
/build
/dist
packages/*/build
packages/*/dist
packages/*/lib

# misc
.DS_Store

# env and keys
.env*
packages/functions/.env*
*service-key*
scripts/keys/
extensions/

*debug.log*
*error.log*

.vscode/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
tmp/

# Firebase
.firebase/
.firebase-emulator-data/
.firebaserc

# lint
tsconfig.tsbuildinfo
*.tsbuildinfo

# TypeScript declaration files
*.d.ts
