# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
tmp.json

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store

# env and keys
.env*
!*example
functions/.env*
!functions/*example
*service-key*
scripts/keys/
extensions/

*debug.log*
*error.log*

.vscode/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
tmp/

# Firebase
.firebase/
.firebase-emulator-data/
.firebaserc

# lint
tsconfig.tsbuildinfo
*.tsbuildinfo

# TypeScript declaration files
*.d.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
